:root{
  --bg-color: rgb(222, 222, 222);
}
body{
  background-color: var(--bg-color);
}
svg {
  width: 100%;
  height: 100%;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* .container {
  text-align: center;
  padding: 20px;
} */
.inlineblock { 
  border-radius: 4px;
  display: inline-block;
  zoom: 1;
  background-color: white;
  width: 95%;
  box-shadow: 2px 2px 5px grey;
}
div.test {
  border: 1px solid black;
}
div.button {
  cursor: pointer;
}

/* 
.button {  
  padding: 7px;
  height: 30px;
  border-radius: 15px;
  background-color: #ffffff;
  color: #a3a3a3;
  margin: 0 10px;
  line-height: 30px;
  cursor: pointer;
  font-size: 18px;
}
.button:hover {
  background-color: var(--bg-color);
  color: #ffffff;
}
.button:active {
  background-color: #0ad4fa;
  color: #ffffff;
} */
/* body, html {
  height: 100%;
} */
.message {
  display: inline-block;
  text-align: center;
  zoom: 1;
  position: fixed;
  width: 95%;
  z-index: 101;
  color: black;
  font-size: 30px;
  border-radius: 20px;
  animation: hideMessage 3s;
  animation-fill-mode: forwards;
}
.message-hidden {
  display: none;
}
@keyframes hideMessage {
  80% {
    background-color: rgba(7, 255, 243, 0.439);
    color: black;
  }
  99% {
    background-color: rgba(231, 249, 255, 0)ff70;
    color: rgba(0, 0, 0, 0);
    width: 95%;
    font-size: 30px;
  }
  100%{
    background-color: rgba(231, 249, 255, 0)ff70;
    color: rgba(0, 0, 0, 0);
    width: 0;
    font-size: 0;
  }
}

.loading {
  top: 0px;
  left: 0px;
  display: inline-block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: #0000009c;
}
.loading-hidden {
  display: none;
}
.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  height:60px;
  width:60px;
  margin:0px auto;
  -webkit-animation: rotation .6s infinite linear;
  -moz-animation: rotation .6s infinite linear;
  -o-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
  border-left:6px solid rgba(0,174,239,.15);
  border-right:6px solid rgba(0,174,239,.15);
  border-bottom:6px solid rgba(0,174,239,.15);
  border-top:6px solid rgba(0,174,239,.8);
  border-radius:100%;
}

@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
  from {-o-transform: rotate(0deg);}
  to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

div.temp {
  position: fixed;
  font-size: 15px;
  border: 2px solid;
  bottom: 0;
  left: 0;
  padding: 6px;
  z-index: 1;
  background-color: red;
  user-select: none;
}

div.temp.connected {
  background-color: #37c537cf;
  opacity: 0.5;
}
div.temp.connected:hover {
  opacity: 1;
}
span.url {
  padding: 5px;
  background-color: white;
  border-radius: 15px;
  font-size: 14px;
  color: #707070;
  font-weight: bold;
  font-family: monospace;
}
span.alert {
  color: red;
  font-weight: bold;
  font-family: monospace;
}


@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeout {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

/* Opera < 12.1 */
@-o-keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}
