h1 CNF - EndReached: #{EndReached}
ul
  li Empresa: 
    b= Empresa
  li Programa: 
    b= Programa
  li PathName: 
    b= PathName
  li 
    b TemperaTope: #{TemperaTope}
  li
    b IncremenTope: #{IncremenTope}
  li CantMid: #{CantMid}
  li PuntosMid: #{PuntosMid}
  li TiempoResis: #{TiempoResis}
  li TiempoTemper: #{TiempoTemper}
  li TiempoCorto: #{TiempoCorto}
  li Numred: #{Numred}
  li MedContinua: #{MedContinua}
  li ReiteraMax: #{ReiteraMax}
  li VecesJref: #{VecesJref}
  li TimeoutPC: #{TimeoutPC}
  li MIDEnabled: #{MIDEnabled.map(o => o ? 1 : 0)}
  li
    each tab, ti in Tablero
      hr
      label Tablero: #{ti}
      ul
        li BalanPromedio: #{tab.BalanPromedio}
        li BalanEnab: #{tab.BalanEnab}
        li PrimFila: #{tab.PrimFila}
        li UltFila: #{tab.UltFila}
        li PrimTc: #{tab.PrimTc}
        li UltTc: #{tab.UltTc}
        li TiMing: #{tab.TiMing}
        li CantRemotosNAI: #{tab.CantRemotosNAI}
        li
          each circ, ci in tab.Circuito
            label circuito: #{ci}
            ul
              li PrimFila: #{circ.PrimFila}
              li UltFila: #{circ.UltFila}
              li PrimTc: #{circ.PrimTc}
              li UltTc: #{circ.UltTc}