head
  title Add Info
  //- link(href="/css/bootstrap.min.css" rel="stylesheet" type="text/css")
  style(type='text/css').
    .errors {
      border: 1px solid red;
    }
    .errors li {
      color: red;
    }
div(class="container")
  div(class="panel panel-primary")
    div(class="panel-heading") Log in
    div(class="panel-body")
      form(method="post" action="/login")
        div(class="form-group")
          label(class="col-md-4") Email
          input(type="text" class="form-control" name="email")
        div(class="form-group")
          label(class="col-md-4") Password
          input(type="password" class="form-control" name="password")
        div(class="form-group")
          button(type="submit" class="btn btn-primary") Log in
  if errors
    ul(class="errors")
      each error in errors
        li= error.msg