.aeration .buttons-zoom {
  float: right;
}
.svg-clickable {
  cursor: pointer;
  font-size: 10
}

.silo-chart {
  display: inline-block;
}
.silo-chart-details {
  padding: 20px;
  text-align: center;
}