/* .blueprint {
  border: 1px solid black;
  height: calc(100vh - 110px);
} */
.blueprint svg {
  position: relative;
  cursor: move;
  /* width: 100%; */
  /* height: 100%; */
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 1s; /* Firefox < 16 */
      -ms-animation: fadein 1s; /* Internet Explorer */
       -o-animation: fadein 1s; /* Opera < 12.1 */
          animation: fadein 1s;
}
.blueprint svg .main-group {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}
