table td, table th {
  padding: 10px;
  border: 1px solid;
}
/* label.uploader {
  margin: 5px;
  display: inline-block;
  border: 1px solid;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
}

label.uploader:hover {
  background-color: #efefef;
} */

/* button.uploader {
  margin: 5px;
  border: 1px solid;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
}

button.uploader:hover {
  background-color: #efefef;
}
button.uploader:disabled {
  background-color: #efefef;
  color: #a7a7a7;
  border: 1px solid #9a9a9a;
} */
.uploaded-list-heading {
  font-weight: normal;
}

.plant-form {
  margin: 15px;
  animation: fadein 1s;
}


