.cm {
  /* z-index: 9999; */
  position: absolute;
}
.cm .item1 { grid-area: t; }
.cm .item2 { grid-area: l; }
.cm .item3 { grid-area: tc; }
.cm .item4 { grid-area: r; }
.cm .item5 { grid-area: bc; }
.cm .item6 { grid-area: b; }
/* 
body {
  background: url('https://img.purch.com/h/1000/aHR0cDovL3d3dy5saXZlc2NpZW5jZS5jb20vaW1hZ2VzL2kvMDAwLzEwMi8wOTYvb3JpZ2luYWwvc2h1dHRlcnN0b2NrXzY4NzM2NTg3Mi5qcGc=')
  center no-repeat;
} */
.cm.grid-container {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-areas:
    'l t t t t r'
    'l tc tc tc tc r'
    'l bc bc bc bc r'
    'l b b b b r';
  grid-gap: 3px;
  /* background-color: #2196F3; */
  /* padding: 10px; */
}

.cm.grid-container > div {
  /* background-color: rgba(255, 255, 255, 0.1); */
  color: rgba(0, 0, 0, 0);
  text-align: center;
  padding: 20px 20px;
  font-size: 30px;
  font-family: monospace;
  font-weight: bold;
  display: table;
  height: 100%;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.cm.grid-container:hover > div {
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.3);
}
.cm.grid-container > div:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(0, 0, 0, 0.5);
}
.cm.grid-container > div:active {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 0.3);
}
.cm .content {
  display: table-cell;
  vertical-align: middle;
}