.cover-button {
  height: 100%;
  text-align: center;
  padding: 45% 10%;
  font-size: 30px;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.cover-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.cover-button:active {
  background-color: rgba(255, 255, 255, 0.3);
}