select.silo-selector {
  padding: 5%;
  font-size: 24px;
  width: 90%;
  margin: 5%;
}
ul {
  list-style-type: none;
}
.top-toolbar {
  height: 34px;
}
.top-toolbar ul {
  padding: 0;
  margin: 0;
}
  .top-toolbar ul li {
    float: left;
    height: 36px;
    padding: 2px;
    text-align: center;
    /* cursor: pointer; */
  }
  .top-toolbar ul li .selectable {
    cursor: pointer;
  }
  .top-toolbar .tb-content {
    display: table-cell;
    vertical-align: middle;
    height: 30px;
  }
.date-picker input {
  width: 75px;
}
.icon.excel {
  width: 35px;
}
.histogram {
  display: -webkit-flex; /* Safari */
  display: flex;
}