.silomap .shape {
  transform: scale(0.445)
}

.shape__face {
      position: absolute;
      width: 200px;
      height: 200px;
      border-radius: 50%; 
      border: 2px solid black;
      line-height: 200px;
      font-size: 40px;
      font-weight: bold;
      color: white;
      text-align: center;
    } 
    .shape.show-front  { transform: translateZ(-100px) rotateY(   0deg); }
    .shape.show-right  { transform: translateZ(-100px) rotateY( -90deg); }
    .shape.show-back   { transform: translateZ(-100px) rotateY(-180deg); }
    .shape.show-left   { transform: translateZ(-100px) rotateY(  90deg); }
    .shape.show-top    { transform: translateZ(-100px) rotateX( -90deg); }
    .shape.show-bottom { transform: translateZ(-100px) rotateX(  90deg); }
    
    .shape__face--front  { background: hsla(  0, 100%, 50%, 0.7); }
    .shape__face--right  { background: hsla( 60, 100%, 50%, 0.7); }
    .shape__face--back   { background: hsla(120, 100%, 50%, 0.7); }
    .shape__face--left   { background: hsla(180, 100%, 50%, 0.7); }
    /* .shape__face--top    { background: hsla(240, 100%, 50%, 0.7); } */
    .shape__face--bottom { background: hsla(300, 100%, 50%, 0.7); }
    
    .shape__face--front  { transform: rotateY(  0deg) translateZ(100px); }
    .shape__face--right  { transform: rotateY( 90deg) translateZ(100px); }
    .shape__face--back   { transform: rotateY(180deg) translateZ(100px); }
    .shape__face--left   { transform: rotateY(-90deg) translateZ(100px); }
    .shape__face--top    { transform: rotateX( 90deg) translateZ(100px); }
    .shape__face--bottom { transform: rotateX(-90deg) translateZ(100px); }
    .shape__face.selected{
      border: 2px solid red;
    }

g.silo-level line:hover {
  stroke: #1f2bb5;
  cursor: pointer;
}