/* .plant-button {
  color: black;
  background: #5f72ff;
  padding: 15px 10px;
  display: inline-flex;
  font-size: 18px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  transform: translate(-50%, -50%);
} */
.plant-button {
  padding-left: 8px;
  color: black;
  background: #6e7fff52;
  display: inline-flex;
  font-size: 18px;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* -webkit-transform: translate(-50%, -50%); */
  transform: translate(-50%, -50%);
}
.plant-button:hover {
  cursor: pointer;
  background: #6e7fffff;
}
.plant-button:active {
  cursor: pointer;
  background: #4954a4;
}
.plant-button svg {
  position: relative;
  display: block;
  width: 70px;
  opacity: 0.6;
}