.slider.vertical {
  position: absolute;
  transform: rotate(270deg) translate(-270px, -220px);
  width: 100%;
  z-index: 99;
}

.slider.standard {
  /* position: absolute; */
  width: 90%;
  margin: 0 5%;
  z-index: 99;
  bottom: 0;
}

input[type=range].slider {
  -webkit-appearance: none;
  /* margin: 18px 0; */
  /* width: 100%; */
}
input[type=range].slider:focus {
  outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animation-duration: 0.2s;
  box-shadow: 1px 1px 1px #9d9d9d, 0px 0px 1px #bbbbbb;
  background: #bbbbbb;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range].slider::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #9d9d9d, 0px 0px 1px #bbbbbb;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #3071a9;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
  background: #c0c1b7;
}
input[type=range].slider::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animation-duration: 0.2s;
  box-shadow: 1px 1px 1px #9d9d9d, 0px 0px 1px #bbbbbb;
  background: #ffffff;
  /* background: #3071a9; */
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range].slider::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range].slider::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animation-duration: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range].slider::-ms-fill-lower {
  background: #fcffdc;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].slider::-ms-fill-upper {
  background: #fcffdc;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].slider::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range].slider:focus::-ms-fill-lower {
  background: #ffffff;
  /* background: #3071a9; */
}
input[type=range].slider:focus::-ms-fill-upper {
  background: #ffffff;
  /* background: #367ebd; */
}