.temperatureviewer2d {
  animation: fadein 1s;
}

.temperatureviewer2d .demo-wrapper { 
  position: relative;
  height: 100%;
  /* background:gray; */
  /* border:3px solid black;  */
}
.temperatureviewer2d .heatmap-container {
  position: relative;
  /* bottom: 30px; right: 0; */
  width: 100%;
  height: 350px;
}
.temperatureviewer2d .heatmap { width:100%; height:100%; }

.temperatureviewer2d .silomap-date {
  top: -40px; right: 0;
  margin: 5px;
  z-index: 98;
  position: absolute;
}
.temperatureviewer2d .date-selector {
  position: relative;
}
.temperatureviewer2d .silolevels {
  z-index: 97;
  margin: 20px 40px;
  bottom: 0px;
  position: absolute;
}

.temperatureviewer2d .level-info {
  position: absolute;
}

.temperatureviewer2d .day-info {
  position: absolute;
  bottom: 32px; left: 5px;
}

.temperatureviewer2d svg.temp-meter {
  position: absolute;
  width: 55px;
  /* height: 210px; */
  margin: 5px;
  right: 0;
}
.temperatureviewer2d .level-selector {
  position: absolute;
  top: 10px; left: 10px;
}
.temperatureviewer2d .level-selector-item {
  background: rgb(255, 243, 222);
  border-bottom: 1px solid rgb(0, 83, 181);
  border-left: 1px solid rgb(0, 83, 181);
  border-right: 1px solid rgb(0, 83, 181);
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
}
.temperatureviewer2d .level-selector-item:nth-child(1) {
  border-top: 1px solid rgb(0, 83, 181);

}
.temperatureviewer2d .level-selector-item span{
  user-select: none;
}
.temperatureviewer2d .level-selector-item.active{
  background: rgb(0, 83, 181);
  font-weight: bold;
  color: white;
}
.temperatureviewer2d .level-selector-item.active:hover {
  background: rgb(0, 83, 181);
  user-select: none;
}
.temperatureviewer2d .level-selector-item:hover {
  background: white;
}
.temperatureviewer2d .level-selector-item:active {
  background: black;
  color: white;
}