.temperatureviewer3d {
  font-family: sans-serif;
  text-align: center;
  animation: fadein 1s;
  position: relative;
  height: 100%;
  overflow: hidden;
}

  .temperatureviewer3d > * { box-sizing: border-box; }

  .temperatureviewer3d .scene {
    /* border: 1px solid #CCC; */
    margin-top: 40px;
    /*position: absolute; */
    /* width: 210px; */
    /* height: 100%; */
    /* height: 500px; */
    /* margin: 80px auto; */
    perspective: 1000px;
  }

  .temperatureviewer3d .carousel {
    width: 100%;
    /* height: 100%; */
    position: absolute;
    transform: translateZ(-288px);
    transform-style: preserve-3d;
    transition: transform 1s;
    /* border: 1px solid; */
    /* animation: silo-showcase 30s infinite linear; */
    /* height: 500px; */
  }
  .test-silo-showcase-cable {
    position: absolute;
    /* animation: silo-showcase-cable 5s infinite linear; */
    animation-direction: reverse;
  }
  @keyframes silo-showcase {
		from {
      transform: rotateY(0deg);
		}
		to {
      transform: rotateY(359deg);
		}
  }
  @keyframes silo-showcase-cable {
		from {
      transform: rotateY(0deg) translateZ(60px);
		}
		to {
      transform: rotateY(359deg) translateZ(60px);
		}
  }
  .temperatureviewer3d .carousel__cell {
    position: absolute;
    width: 190px;
    /* height: 120px; */
    /* height: 100%; */
    left: 0px;
    top: 10px;
    /* border: 2px solid black; */
    line-height: 116px;
    font-size: 80px;
    font-weight: bold;
    color: white;
    text-align: center;
    transition: transform 1s, opacity 1s;
  }
/* 
  .carousel__cell:nth-child(9n+1) { background: hsla(  0, 100%, 50%, 0.8); }
  .carousel__cell:nth-child(9n+2) { background: hsla( 40, 100%, 50%, 0.8); }
  .carousel__cell:nth-child(9n+3) { background: hsla( 80, 100%, 50%, 0.8); }
  .carousel__cell:nth-child(9n+4) { background: hsla(120, 100%, 50%, 0.8); }
  .carousel__cell:nth-child(9n+5) { background: hsla(160, 100%, 50%, 0.8); }
  .carousel__cell:nth-child(9n+6) { background: hsla(200, 100%, 50%, 0.8); }
  .carousel__cell:nth-child(9n+7) { background: hsla(240, 100%, 50%, 0.8); }
  .carousel__cell:nth-child(9n+8) { background: hsla(280, 100%, 50%, 0.8); }
  .carousel__cell:nth-child(9n+0) { background: hsla(320, 100%, 50%, 0.8); }

  .carousel__cell:nth-child(1) { transform: rotateY(  0deg) translateZ(288px); }
  .carousel__cell:nth-child(2) { transform: rotateY( 40deg) translateZ(288px); }
  .carousel__cell:nth-child(3) { transform: rotateY( 80deg) translateZ(288px); }
  .carousel__cell:nth-child(4) { transform: rotateY(120deg) translateZ(288px); }
  .carousel__cell:nth-child(5) { transform: rotateY(160deg) translateZ(288px); }
  .carousel__cell:nth-child(6) { transform: rotateY(200deg) translateZ(288px); }
  .carousel__cell:nth-child(7) { transform: rotateY(240deg) translateZ(288px); }
  .carousel__cell:nth-child(8) { transform: rotateY(280deg) translateZ(288px); }
  .carousel__cell:nth-child(9) { transform: rotateY(320deg) translateZ(288px); } */



  .temperatureviewer3d .carousel-options {
    text-align: center;
    position: relative;
    z-index: 2;
    background: hsla(0, 0%, 100%, 0.8);
  }
.temperatureviewer3d .controllers {
  position: relative;
  /* margin: 10px; */
  z-index: 99;
}
.temperatureviewer3d .scene-frame {
  position: absolute;
  width: 100%;
}
.temperatureviewer3d .carousel-cell {
  width: 30
}