.aeration .buttons-zoom {
  float: right;
}
.svg-clickable {
  cursor: pointer;
  font-size: 10
}

.silo-chart {
  display: inline-block;
}
.silo-chart-details {
  padding: 20px;
  text-align: center;
}

.thermometry .container{
  /* border: 1px green dashed; */
  width: 100%;
}

.thermometry .panel-border-right {
  border-right: 1px #5f87af solid;
}
/* 
.thermometry .main-container {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-areas: 'c r';
}
.thermometry .main-container .center {
  grid-area: c;
}
.thermometry .main-container .right {
  grid-area: r;
}

.thermometry .main-container > div {
  position: relative;
  border: solid 1px black;
} */

img.icon.compass {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}
.tem-body {
  /* border: 1px solid red; */
  height: calc(100vh - 140px);
}
.tem-body .center,
.tem-body .right {
  /* border: 1px solid black; */
  width: 50%;
  height: 100%;
  /* background: #ddd; */
  /* padding: 10px; */
  display: inline-block;
  vertical-align: top;
}
.tem-body .center {
  width: 100%;
}
.tem-body .right {
  display: none;
  width: 0%;
  overflow: auto;
}

.tem-body .center.ondetails {
  width: 70%;
}
.tem-body .right.ondetails {
  display: inline-block;
  width: 30%;

  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 1s; /* Firefox < 16 */
      -ms-animation: fadein 1s; /* Internet Explorer */
       -o-animation: fadein 1s; /* Opera < 12.1 */
          animation: fadein 1s;
}

a.no-link {
  color: #16181b;
  text-decoration: none;
}
.active a.no-link {
  color: #fff;
}