/* :root {
  --height-size: calc(100vh - 36px);
} */
/* .view-fix {
  height: 36px;
} */
.view {
  display: flex;
  box-sizing: border-box;
  height: calc(100vh - 64px);
  overflow-y: auto;
  display: block;
  background-color: white;
}

.panel-custom {
  /* padding: 5px;
  height: var(--height-size);
  width: 20vw;
  float: left; */
  background-color: rgb(80, 135, 206);
  border: 0;
}
  .panel-custom .panel-heading {
    background-color: rgb(52, 111, 188);
  }
.panel-custom-main {
  min-height: var(--height-size);
  /* width: 100vw; */
  -webkit-flex: 1;  /* Safari 6.1+ */
  -ms-flex: 1;  /* IE 10 */    
  flex: 1;
  background-color: rgb(135, 171, 219);
  border: 0;
}
  .panel-custom-main .panel-heading {
    background-color: rgb(135, 171, 219);
  }
  .panel-custom-main .panel-body {
    padding: 0;
  }